.about-content{
    padding: 20px 0px;
}
.about-content p{
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 15px;
}
.about-content p.bold{
    font-weight: 600;
}
.profile-image.one{
    height: 550px;
}
.profile-image{
    height: 300px;
}
.profile-content{
    padding-top: 40px;
}
.profile-text{
    text-align: center;
    padding: 10px 0px;
}
.profile-text label{
    font-size: 20px;
    font-weight: 600;
}
.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.fa-trophy
{
    Color:orange;
    font-size: 24px;
    }

/* Responsive */
@media only screen and (max-width: 767px) {
    .about-page-content{
        padding-top: 20px;
    }
    .about-content p{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px;
    }
}
