
.contact-page-content h2{
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color:red;
}
.contact-page-content h3{
    padding-bottom: 10px;
}
.contact-page-content p{
    font-size: 20px;
    color:red;
}
.contact-page-content i{
    color:red;
    font-size: 40px;
}
.contact-card{
    text-align: center;
}
.contact-card p span{
    width: 120px;
    display: inline-block;
}

/* Responsive */
@media only screen and (max-width: 767px) {
    .contact-page-content h2{
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 20px;
    }
    .contact-page-content p{
        font-size: 16px;
    }
    .contact-card{
        margin-bottom: 20px;
    }
    .contact-page-content i{
        font-size: 20px;
    }
}