.course-details h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.course-details{
    padding: 20px 0px;
}
.course-list{
    padding-bottom: 20px;
}
.course-list h3{
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 600;
    
}
.course-list ul li{
    font-size: 18px;
    padding-bottom: 5px;
}
/* Responsive */
@media only screen and (max-width: 767px) {
    .course-list h3{
        font-size: 18px;
        line-height: 24px;
    }
    .course-list ul li{
        font-size: 16px;
        line-height: 24px;
    }
    .course-list{
        padding-bottom: 10px;
    }
}