.copy-rights{
    padding: 20px 100px;
    background-color: black;
    border-top:1px solid #fff;

}
.copy-rights p{
    text-align: center;
    font-size: 16px;
    color:#fff;
}
.footer{
    padding: 30px 100px;
    background-color:black;
}
.footer h2{
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    padding-bottom: 20px;
}
.footer p{
    font-size: 16px;
    color:#fff;
}
.footer p a{
    font-size: 16px;
    color:#fff;
    text-decoration: underline!important;
}
.footer .footer-address-card ul li{
    font-size: 18px;
    color:#fff;
    padding-bottom: 10px;
}
.footer .footer-address-card ul li i{
    font-size: 24px;
    margin-right: 6px;
}
.footer-card p.head{
    font-weight: 600;
    padding-bottom: 10px;
}
.footer .footer-social-card ul li:last-child{
    padding-bottom: 0px;
}

.footer .footer-social-card ul li {
    padding-bottom: 15px;
}
.footer .footer-social-card ul li a{
    cursor: pointer;
    color:#fff;
    font-size: 20px;

}
.footer .footer-social-card ul li span{
    width: 30px;
    display: inline-block;
}
.footer .footer-social-card ul li label{
    font-weight: 400;
    cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 767px) {
    .footer{
        padding:20px;
    }
    .footer h2{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .footer .footer-address-card ul li{
        font-size: 14px;
        padding-bottom: 8px;
    }
    .footer p{
        font-size: 14px;
    }
    .footer .footer-address-card ul li i{
        font-size: 18px;
    }
    .footer .footer-social-card ul li a{
        font-size: 14px;
    }
    .footer .footer-social-card ul li{
        padding-bottom: 10px;
    }
    .footer-social-card{
        margin-top: 20px;
    }
    .copy-rights p{
        font-size: 14px;
    }
}
