.youtube-videos-section{
    padding: 40px 0px;
    text-align: center;
}
.youtube-videos-section h2{
    padding-bottom: 20px;
}
.youtube-video-sec{
    padding-bottom: 30px;
}
.first{
    display: flex;
}
.first a{
    width: 49.5%;
}
.first a img{
    width: 100%;
    object-fit: cover;
    height: 550px;
}
.second{
    display: flex;
}
.second a{
    width: 33%;

}
.second a img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.third{
    display: flex;
}
.third a{
    width: 33%;

}
.third a img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/* Responsive */
@media only screen and (max-width: 767px) {
    .first{
        flex-direction: column;
    }
    .second{
          flex-direction: column;
    }
    .third{
          flex-direction: column;
    }
    .second a{
        width: 100%;
    
    }
    .first a{
        width: 100%;
    }
    .third a{
        width: 100%;
    
    }
}