/* banner */
.banner{
    margin-top: 90px;
}
.banner-slick{
    overflow: hidden;
}
.banner .images{
    height: 650px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-arrow{
    width: 40px;
    cursor: pointer;
    position: absolute;
    top:50%;
    z-index: 999;
    opacity: .5;
    display: none!important;
}
.slick-arrow img{
    border-radius: 100px;
}
.slick-left.slick-arrow{
    left: 1%;
}
.slick-right.slick-arrow{
    right: 1%;
}
.banner:hover .slick-arrow{
    display: block!important;
}
/* Classes */
.classes{
    text-align: center;
}
.classes.product{
    padding-bottom: 60px;
}
.classes.product img{
    border-radius: 10px;
}
.classes.product .classes-image{
    height: 400px;
}
.classes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.classes-image{
    height: 250px;
}
.classes-text{
    text-align: center;
    padding: 15px;
    background-color: #FAE20D;
}
.classes-text label{
    font-size: 20px;
    line-height: 26px;
}
.classes-section{
    padding-top:40px;
}
/* Responsive */
@media only screen and (max-width: 991px) {
    .header .navbar{
        padding: 5px 30px;
    }
}
@media only screen and (max-width: 767px) {
    .header .logo img{
        width: 50px;
    }
    .navbar-toggle{
        margin-right: 0px;
        background-color: #c53939;
        border:1px solid #fff;
    }
    .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    .header .navbar{
        padding: 5px 20px;
    }
    .header .navbar-nav>li{
        padding: 0px;
        padding-bottom: 15px;
    }
    .header .navbar-nav>li>a{
        font-size: 14px;
    }
    .banner{
        margin-top: 60px;
    }
    .banner .images{
        height: 280px;
    }
    .classes-text{
        padding: 10px;
        margin-bottom: 20px;
    }
    .classes-text label{
        font-size: 16px;
    }
    .classes.product .classes-image{
        height: 300px;
        margin-bottom: 20px;
    }
    .link{
        font-size: 16px;
    }
    .classes-section{
        padding-top: 0px;
    }

}