.product-page{
    padding-top: 20px;
    padding-bottom: 40px;  
}
.products{
    padding: 30px;
    border:2px solid #000;
    border-radius: 6px;
    padding-bottom: 60px;
}
.product-page h2{
    text-align: center;
    padding-bottom: 20px;
}
.product-card{
    height: 350px;
}
.product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
.product-card{
    text-align: center;
}
.product-card label{
    display: block;
    font-size: 18px;
    padding: 5px;
    border:1px solid #000;
    font-weight: 500;
}
.product-card label:last-child{
    border-top: 0px;
}


.product-mg {
    margin-top: 100px;
}
.product-pg {
    margin-bottom: 40px;
}
/* Responsive */
@media only screen and (max-width: 767px) {
    .product-card{
        height: auto;
        margin-bottom: 20px;
    }
    .product-card label{
        font-size: 14px;
    }
    .product-mg{
        margin-top: 0px;
    }
    .product-pg{
        margin-bottom: 0px;
    }
    .products{
        padding: 20px;
        padding-bottom: 30px;
    }
}