body{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,label{
    margin-bottom: 0px;
    margin-top: 0px;
}
ul{
    list-style: none;
    padding-left: 0px;
}
a{
    text-decoration: none!important;
}
/* Header */
.header .navbar{
    background: #fff;
    border-radius: 0px;
    margin-bottom: 0px;
    padding:5px 100px;
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.44);
}
.header .navbar-nav.left>li{
    padding: 25px 0px;
}
.header .navbar-nav>li{
    padding:30px 20px;
}
.header .navbar-nav.left>li>a{
    font-size: 30px;
}
.header .navbar-nav>li>a{
    color:#000;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    cursor: pointer;
}
.header .navbar-nav>li>a.active{
    color:#c53939;
}
.header .nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}
.header .logo img{
    width: 80px;
    border-radius: 100px;
}
.navbar-right .dropdown-menu{
    left: 0px;
}
.header a:hover{
    color:#c53939;
}
.common-wrapper{
    margin-top: 90px;
}
.common-padding{
    padding: 0px 100px;
}
.common-padding1{
    padding: 60px 0px;
}
.common-heading{
    text-align: center;
    padding-bottom: 30px;
}
.common-heading h2{
    font-size: 28px;
    font-weight: 600;
    color:#fff;
    display: inline-block;
    padding: 15px;
    background-color: red;
    border-radius: 4px;
}
.common-banner{
    background-color: #F3983E;
    text-align: center;
    padding: 40px 0px;
    margin-bottom: 20px;
}

.common-banner h3{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
.dropdown-item{
    display: block;
    color:#000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}
.link{
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    color:#000!important;
    font-weight: 600;
    cursor: pointer;
    border:1px solid #000;
}
/* Responsive */
@media only screen and (max-width: 767px) {
    .common-padding{
        padding: 0px 20px;
    }
    .common-wrapper {
        margin-top: 60px;
    }
    .common-padding1{
        padding: 20px 0px;
    }
    .common-heading h2{
        font-size: 20px;
    }
    .common-banner h3{
        font-size: 20px;
    }
    .common-banner{
        padding: 20px 0px;
    }
}
